<div class="form-wrapper">
  <form [formGroup]="transactionForm" (ngSubmit)="submit()" class="card">

    <h2>Add Transaction</h2>

    <label>
      Type
      <select formControlName="type">
        <option value="income">Income</option>
        <option value="expense">Expense</option>
      </select>
    </label>

    <label>
      Property
      <select formControlName="propertyId">
        <option value="1">Earthy Escape</option>
        <option value="2">Millennium Farm House</option>
      </select>
    </label>

    <label>
      Amount
      <input type="number" formControlName="amount" placeholder="Enter amount" />
    </label>

    <label>
      Category
      <input type="text" formControlName="category" placeholder="Booking / Maintenance" />
    </label>

    <label>
      Date
      <input type="date" formControlName="date" />
    </label>

    <label>
      Description
      <textarea formControlName="description" rows="3"></textarea>
    </label>

    <button type="submit">Save Transaction</button>

  </form>
</div>
