
<div class="login-wrapper">
    
  <form class="login-card" [formGroup]="form" (ngSubmit)="login()">
    

    <h2>XYZ Company</h2>
    <p>Farmhouse Finance System</p>
    <label for="">Username</label>
    <input type="text" placeholder="Username" formControlName="username" />
    <label for="">Password</label>
    <input type="password" placeholder="Password" formControlName="password" />

    <button type="submit">Login</button>

    <div class="error" *ngIf="error">{{ error }}</div>

    <div class="demo-credentials">
  <strong>Demo Credentials</strong>
  <p>Username: <span>admin</span></p>
  <p>Password: <span>admin123</span></p>
</div>

  </form>
</div>

